<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneystream">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presenters.activities.EditBudgetActivity"></activity>
        <activity android:name=".presenters.activities.EditOurHistoryActivity" />
        <activity android:name=".presenters.activities.EditMyHistoryActivity" />
        <activity android:name=".presenters.activities.InviteActivity" />
        <activity android:name=".presenters.activities.EditBillActivity" />
        <activity android:name=".presenters.activities.EditHistoryActivity" />
        <activity android:name=".presenters.activities.BillDetailActivity" />
        <activity android:name=".presenters.activities.InputBillActivity"
            android:exported="true" />
        <activity android:name=".presenters.activities.InputBudgetActivity"
            android:exported="true" />
        <activity android:name=".presenters.activities.EventDetailActivity" />
        <activity android:name=".presenters.activities.EventActivity" />
        <activity android:name=".presenters.activities.MyAccountActivity" />
        <activity android:name=".presenters.activities.UpdateEventActivity" />
        <activity android:name=".presenters.activities.CreateEventActivity"
            android:exported="true"/>
        <activity android:name=".presenters.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>